<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- Define the appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%n%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=green bold, TRACE=blue bold}"/>
       </Console>
        <!-- File Appender -->
        <File name="FileAppender" fileName="applogs/application_logs.log">
            <PatternLayout pattern="%n%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <!-- Define the loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>